main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1%;
} 
.sessao-carrinho{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    min-width: 390px;    
    border-radius: 16px;
    padding: 2% 00.5% 2% 0.5%;    
    margin: 2% auto 2%px auto;
    gap:10px   
}

#dados-entrega{ 
    margin: 2% 0% 1% 0%;
    padding:  2% 0% 1% 0%;     
}

#h2-pedidos{     
    margin: 2% 0% 1% 0%;
    padding:  2% 0% 1% 0%;
}

#h2-metodo-pgto{
    margin: 2% 0% 1% 0%;
    padding:  2% 0% 1% 0%;
}

.container-carrinho{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 3%;
    width: 80%;
    min-width: 400px;
}

.input-carrinho{
    border:4px solid #040404;
    border-radius: 15px;
    padding: 3px;
    width: 80%;
}
.container-meio-carrinho{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 3%;
}

.label-carrinho{
    width: auto;
    color: black;
    font-family:'Inter';
    font-weight: bold;
}

#linha-separa-carrinho{
    background: #040404;
    width: 100%;
    padding: 0.7%;
}

.detalhes-pedidos{
    display: flex;    
    justify-content: space-between;
    width: 80%;
    background: #2B2C32;
    color: #eaeaea;
    border-radius: 15px;
    padding: 2%;       
}

.detalhes-pagamento{
    display: flex;
    width: 80%;
    gap: 1%;
    justify-content: center;
    

}
.cartao-credito{
    background-color: #040404;
    color: #F1EFE7;
    border-radius: 10px;
    padding: 1.5%;
    
}
.mt-pagamento{    
    border:3px solid #040404;
    border-radius: 10px; 
    padding: 1.5%; 
    
}


#btn-finalizar{
    background-color: #040404;
    color: #F1EFE7;
    margin-left: 37%;
    border-radius: 10px;
    padding: 1% 10% 1% 10%;
}


