form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:600px;
    min-width: 390;
    height: 90%;
    background-color:#F1EFE7;
    border-radius: 16px;
    padding: 1rem 40px;
    margin: 2% auto 2% auto;   
    gap:10px   
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.conteiner-form{
    display: flex;
    width: 80%;   
    height: 45px;    
}

label { 
    display: block;
    width: 15%;
    background-color: #202020;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
}

label:not(:first-of-type){
    margin-top: 1rem;
}
.icones-form{
    width: 30px;
    height: auto;
    padding: 6px 25px;      
}

.input-form{
    width: 85%;
    border: 5px solid #202020;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
    padding: .2rem .5rem;
}
.btn-cadastrar{
    background-color: #202020;    
    width: 80%;
}
button{
    background-color:#202020;
    color: #F1EFE7; 
    margin-top: 1.5rem;
    font-size: 1rem;
    width: 80%;
    align-self: center;
    padding: 5px;
    border-radius: 15px;
}

.links-submits{
    width: 80%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: #F1EFE7;
}

main{
    padding-bottom: 8em;
    padding-top: 4em ;
}
