

.container {
    position: relative;
    display: inline-block;
  }
  
.botao {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    background-color: var(--color-neutral-10);
    border: none;
    color: var(--color-neutral-40);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
.botao:hover, .button_all:hover{
    color: var(--color-neutral-10);
    background-color: var(--color-neutral-40);
    transition: 0.70s;
}

/*------------ L I N E ------------*/
.line2{
    padding: 0.25rem;
    background-color: var(--color-neutral-40);
    
}

.line3{
    margin-top: 3px ;
    padding: 1.8rem;
    background-color: var(--color-neutral-10);
    
}

.line4{
    margin-top: 0.75em;
    opacity: 90%;
    padding: 0.50rem;
    background-color: var(--color-neutral-10);
    
}

/*------------ S L I D E R ------------*/
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
  
    width: 25%;
    height: 450px;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

#radio01:checked ~ .nav-auto .auto-btn1, #radio02:checked ~ .nav-auto .auto-btn2, #radio03:checked ~ .nav-auto .auto-btn3{
    background-color: #2b2b2b;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px){
    .img1{
        display: none;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 4rem;
    background-color: var(--color-neutral-0);
  }
  
.button_all {
    
    padding: 15px 25px;
    background-color: var(--color-neutral-10);
    border: none;
    border-radius: 10px;
    color: var(--color-neutral-40);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
  }
  
.button_all:last-child {
    margin-right: 0;
  }
  

/*------ PALETA DE CORES ------*/
:root{
    --color-neutral-0: #f1efe7;
    --color-neutral-10: #000000;
    --color-neutral-40: #fcfcfc;
  
}
.container-box {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
  }
  
  .box {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    background-color: var(--color-neutral-0);
    margin-right: 2rem;
  }


.text{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);

}
  .content {
    margin-top: 0.75rem;
    width: 600px;
    height: 680px;
    justify-content: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
  }
  
  p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
  }
  