

.container {
    position: relative;
    display: inline-block;
  }
  
.botao {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    background-color: var(--color-neutral-10);
    border: none;
    color: var(--color-neutral-40);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
.botao:hover, .button_all:hover{
    color: var(--color-neutral-10);
    background-color: var(--color-neutral-40);
    transition: 0.70s;
}

/*------------ L I N E ------------*/
.line2{

    background-color: var(--color-neutral-40);
    
}

.line3{
    margin-top: 3px ;
    padding: 1.8rem;
    background-color: var(--color-neutral-10);
    
}

.line4{
    margin-top: 0.75em;
    opacity: 90%;
    padding: 0.50rem;
    background-color: var(--color-neutral-10);
    
}

/*------------ S L I D E R ------------*/
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
  
    width: 25%;
    height: 450px;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

#radio01:checked ~ .nav-auto .auto-btn1, #radio02:checked ~ .nav-auto .auto-btn2, #radio03:checked ~ .nav-auto .auto-btn3{
    background-color: #2b2b2b;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px){
    .img1{
        display: none;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 4rem;
    background-color: var(--color-neutral-0);
  }
  
.button_all {
    
    padding: 15px 25px;
    background-color: var(--color-neutral-10);
    border: none;
    border-radius: 10px;
    color: var(--color-neutral-40);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
  }
  
.button_all:last-child {
    margin-right: 0;
  }

.box-container {
  justify-content: center;
  padding-top: 0.75rem;
  display: flex;
}

.boximg {
  gap: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.boximg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boximg:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/*------ PALETA DE CORES ------*/
:root{
    --color-neutral-0: #f1efe7;
    --color-neutral-10: #000000;
    --color-neutral-40: #fcfcfc;
  
}
.box-container {
      display: flex;
    }

    .box {
      width: 200px;
      height: 200px;
      margin: 10px;
      overflow: hidden;
      transition: transform 0.3s;
    }

    .box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


.text{
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);

}
.content {
  margin-top: 0.75rem;
  width: 720px;
  height: 100%;
  padding-bottom: 10px;
  justify-content: center;
}
  
h2 {
  font-size: 24px;
  justify-content: center;
  text-align: center;
  padding-top: 0.75rem;
}

h3{
  font-size: 24px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.5em;

}
  
p {
  padding-top: 1rem;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.colaboradores{
  padding-top: 2rem;

}

#sphere-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2rem;
  padding-bottom: 2rem;
}

.sphere-container {
  display: inline-block;
  margin-right: 10px;
  text-align: center; 
  gap: 10px;
 
  
}

.sphere {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  background-color: var(--color-neutral-0);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;

}

.sphere:hover{
  transform: scale(1.09);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
}


.sphere-name {
  margin-top: 5px;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.2rem
}

.sphere img {
  border-radius: 20%;
  padding-top: 3px;
  width: 96%;
  height: auto;
  object-fit: cover;
  margin: auto;
}


